/* line 4, ../sass/_base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 25, ../sass/_base.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 29, ../sass/_base.scss */
body {
  line-height: 1;
}

/* line 32, ../sass/_base.scss */
ol, ul {
  list-style: none;
}

/* line 35, ../sass/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 38, ../sass/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../sass/_base.scss */
* {
  -moz-appearance: none !important;
}

/* line 47, ../sass/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 52, ../sass/_base.scss */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* font faces */
@font-face {
  font-family: 'HelveticaNeueCyr-UltraLightItalic';
  src: url("../fonts/HelveticaNeueCyr-UltraLightItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-UltraLight_0';
  src: url("../fonts/HelveticaNeueCyr-UltraLight_0.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-ThinItalic';
  src: url("../fonts/HelveticaNeueCyr-ThinItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Thin';
  src: url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-LightItalic';
  src: url("../fonts/HelveticaNeueCyr-LightItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Italic';
  src: url("../fonts/HelveticaNeueCyr-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-BoldItalic';
  src: url("../fonts/HelveticaNeueCyr-BoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-BlackItalic';
  src: url("../fonts/HelveticaNeueCyr-BlackItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Black';
  src: url("../fonts/HelveticaNeueCyr-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* END font-faces */
/* extends for font families */
/* line 170, ../sass/_base.scss */
.test1 {
  font-family: "HelveticaNeueCyr-ThinItalic";
}

/* line 173, ../sass/_base.scss */
.test2 {
  font-family: "HelveticaNeueCyr-Thin";
}

/* line 176, ../sass/_base.scss */
.test3, .top-bar__menu {
  font-family: "HelveticaNeueCyr-Roman";
}

/* line 179, ../sass/_base.scss */
.test4, .site-logo {
  font-family: "HelveticaNeueCyr-Medium";
}

/* line 183, ../sass/_base.scss */
.test5, body, .top-bar__item:not(:first-child):before {
  font-family: "HelveticaNeueCyr-Light", "Helvetica", sans-serif;
}

/* line 186, ../sass/_base.scss */
.test6 {
  font-family: "HelveticaNeueCyr-Italic";
}

/* line 190, ../sass/_base.scss */
.test7 {
  font-family: "HelveticaNeueCyr-BoldItalic";
}

/* line 194, ../sass/_base.scss */
.test8 {
  font-family: "HelveticaNeueCyr-Bold";
}

/* line 198, ../sass/_base.scss */
.test9 {
  font-family: "HelveticaNeueCyr-LightItalic";
}

/* line 202, ../sass/_base.scss */
.test10 {
  font-family: "HelveticaNeueCyr-UltraLightItalic";
}

/* line 207, ../sass/_base.scss */
.test11 {
  font-family: "HelveticaNeueCyr-UltraLight_0";
}

/* line 212, ../sass/_base.scss */
.test12 {
  font-family: "HelveticaNeueCyr-Black";
}

/* line 217, ../sass/_base.scss */
.test13 {
  font-family: "HelveticaNeueCyr-BlackItalic";
}

/* END extends */
/* line 224, ../sass/_base.scss */
.test1:after {
  content: ' - hnc_thin-italic';
}

/* line 231, ../sass/_base.scss */
.test2:after {
  content: ' - hnc_thin';
}

/* line 238, ../sass/_base.scss */
.test3:after {
  content: ' - hnc_roman';
}

/* line 245, ../sass/_base.scss */
.test4:after {
  content: ' - hnc_medium';
}

/* line 252, ../sass/_base.scss */
.test5:after {
  content: ' - hnc_light';
}

/* line 259, ../sass/_base.scss */
.test6:after {
  content: ' - hnc_italic';
}

/* line 266, ../sass/_base.scss */
.test7:after {
  content: ' - hnc_bold-italic';
}

/* line 273, ../sass/_base.scss */
.test8:after {
  content: ' - hnc_bold';
}

/* line 280, ../sass/_base.scss */
.test9:after {
  content: ' - hnc_light-italic';
}

/* line 287, ../sass/_base.scss */
.test10:after {
  content: ' - hnc_ultra-light-italic';
}

/* line 294, ../sass/_base.scss */
.test11:after {
  content: ' - hnc_ultra-light-0';
}

/* line 301, ../sass/_base.scss */
.test12:after {
  content: ' - hnc_black';
}

/* line 308, ../sass/_base.scss */
.test13:after {
  content: ' - hnc_black-italic';
}

/* line 352, ../sass/_base.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 356, ../sass/_base.scss */
.clearfix {
  *zoom: 1;
  background: none;
}
/* line 38, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 381, ../sass/_base.scss */
a {
  text-decoration: none;
}

/* line 385, ../sass/_base.scss */
img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
}

/* line 395, ../sass/_base.scss */
.wrapper {
  width: 100%;
}

/* line 399, ../sass/_base.scss */
.inner {
  width: 970px;
  padding: 0 15px;
  margin: auto;
}

/* line 6, ../sass/main.scss */
.fonts-test {
  padding: 10px;
  background: #ddd;
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  z-index: 9999;
  display: none;
}

/* line 17, ../sass/main.scss */
.body {
  background: #fff;
}

/* line 21, ../sass/main.scss */
.icon {
  display: inline-block;
  color: #000000;
  fill: currentColor;
  vertical-align: middle;
}

/* line 28, ../sass/main.scss */
.icon-logo {
  width: 49px;
  height: 41px;
  color: inherit;
}

/* line 35, ../sass/main.scss */
.icon-search {
  width: 15px;
  height: 15px;
  color: inherit;
}

/* line 60, ../sass/main.scss */
.main-header {
  margin-bottom: 22px;
}

/* line 65, ../sass/main.scss */
.site-logo.site-logo {
  color: #004b7b;
}
/* line 68, ../sass/main.scss */
.site-logo.site-logo:hover {
  color: #006aae;
}

/* line 73, ../sass/main.scss */
.site-logo {
  text-transform: uppercase;
  float: left;
  margin-top: 15px;
}
/* line 78, ../sass/main.scss */
.site-logo__title {
  font-size: 24px;
  letter-spacing: 1px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 3px;
}

/* line 90, ../sass/main.scss */
.search {
  position: relative;
  float: right;
  margin-top: 22px;
}
/* line 94, ../sass/main.scss */
.search__text {
  background: none;
  border: 1px solid;
  width: 100%;
  padding: 3px 30px 3px 10px;
  border: 1px solid #dee1e3;
  border-radius: 4px;
  width: 160px;
  height: 31px;
}
/* line 105, ../sass/main.scss */
.search__submit {
  background: none;
  border: none;
  padding: 0;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 5px;
  top: 2px;
  cursor: pointer;
  color: #b1b1b1;
}
/* line 116, ../sass/main.scss */
.search__submit:active, .search__submit:hover {
  padding: 0;
  margin: 0;
}
/* line 120, ../sass/main.scss */
.search__submit svg {
  width: 15px;
}

/* line 126, ../sass/main.scss */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #949393;
  font-size: 14px;
}

/* line 131, ../sass/main.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #949393;
  font-size: 14px;
  opacity: 1;
}

/* line 137, ../sass/main.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #949393;
  font-size: 14px;
  opacity: 1;
}

/* line 143, ../sass/main.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #949393;
  font-size: 14px;
}

/* the top bar */
/* line 153, ../sass/main.scss */
.top-bar {
  height: 75px;
  overflow: hidden;
  background: url("../images/top-bar-bg.png") 50% 100% repeat #004d7d;
  padding-top: 30px;
}
/* line 158, ../sass/main.scss */
.top-bar__menu {
  position: relative;
}
/* line 163, ../sass/main.scss */
.top-bar__item {
  float: left;
  margin-left: 10px;
  font-size: 17px;
}
/* line 167, ../sass/main.scss */
.top-bar__item:first-child {
  margin-left: 0;
}
/* line 170, ../sass/main.scss */
.top-bar__item:not(:first-child):before {
  color: #fff;
  content: '/';
  vertical-align: top;
  display: inline-block;
  margin-right: 8px;
  float: left;
}
/* line 180, ../sass/main.scss */
.top-bar__link {
  text-decoration: underline;
  color: #FFF;
}
/* line 183, ../sass/main.scss */
.top-bar__link:hover, .top-bar__link.is-active {
  text-decoration: none;
}
