/* line 4, ../sass/_base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 25, ../sass/_base.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 29, ../sass/_base.scss */
body {
  line-height: 1;
}

/* line 32, ../sass/_base.scss */
ol, ul {
  list-style: none;
}

/* line 35, ../sass/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 38, ../sass/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../sass/_base.scss */
* {
  -moz-appearance: none !important;
}

/* line 47, ../sass/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 52, ../sass/_base.scss */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* font faces */
@font-face {
  font-family: 'HelveticaNeueCyr-UltraLightItalic';
  src: url("../fonts/HelveticaNeueCyr-UltraLightItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-UltraLight_0';
  src: url("../fonts/HelveticaNeueCyr-UltraLight_0.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-ThinItalic';
  src: url("../fonts/HelveticaNeueCyr-ThinItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Thin';
  src: url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-LightItalic';
  src: url("../fonts/HelveticaNeueCyr-LightItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Italic';
  src: url("../fonts/HelveticaNeueCyr-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-BoldItalic';
  src: url("../fonts/HelveticaNeueCyr-BoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-BlackItalic';
  src: url("../fonts/HelveticaNeueCyr-BlackItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Black';
  src: url("../fonts/HelveticaNeueCyr-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* END font-faces */
/* extends for font families */
/* line 170, ../sass/_base.scss */
.test1 {
  font-family: "HelveticaNeueCyr-ThinItalic";
}

/* line 173, ../sass/_base.scss */
.test2, .alphabet-filter, .news-block__short-description, .copyright, .reginfo {
  font-family: "HelveticaNeueCyr-Thin";
}

/* line 176, ../sass/_base.scss */
.test3, .top-bar__menu, .bottom-bar__menu, .page-title, .editor h1, .editor h2, .editor h3, .editor h4, .editor h5, .editor h6, .article-info {
  font-family: "HelveticaNeueCyr-Roman";
}

/* line 179, ../sass/_base.scss */
.test4, .gl-headline, .site-logo {
  font-family: "HelveticaNeueCyr-Medium";
}

/* line 183, ../sass/_base.scss */
.test5, body, .top-bar__item:not(:first-child):before, .page-filter {
  font-family: "HelveticaNeueCyr-Light", "Helvetica", sans-serif;
}

/* line 186, ../sass/_base.scss */
.test6 {
  font-family: "HelveticaNeueCyr-Italic";
}

/* line 190, ../sass/_base.scss */
.test7 {
  font-family: "HelveticaNeueCyr-BoldItalic";
}

/* line 194, ../sass/_base.scss */
.test8 {
  font-family: "HelveticaNeueCyr-Bold";
}

/* line 198, ../sass/_base.scss */
.test9 {
  font-family: "HelveticaNeueCyr-LightItalic";
}

/* line 202, ../sass/_base.scss */
.test10 {
  font-family: "HelveticaNeueCyr-UltraLightItalic";
}

/* line 207, ../sass/_base.scss */
.test11 {
  font-family: "HelveticaNeueCyr-UltraLight_0";
}

/* line 212, ../sass/_base.scss */
.test12 {
  font-family: "HelveticaNeueCyr-Black";
}

/* line 217, ../sass/_base.scss */
.test13 {
  font-family: "HelveticaNeueCyr-BlackItalic";
}

/* END extends */
/* line 224, ../sass/_base.scss */
.test1:after {
  content: ' - hnc_thin-italic';
}

/* line 231, ../sass/_base.scss */
.test2:after {
  content: ' - hnc_thin';
}

/* line 238, ../sass/_base.scss */
.test3:after {
  content: ' - hnc_roman';
}

/* line 245, ../sass/_base.scss */
.test4:after {
  content: ' - hnc_medium';
}

/* line 252, ../sass/_base.scss */
.test5:after {
  content: ' - hnc_light';
}

/* line 259, ../sass/_base.scss */
.test6:after {
  content: ' - hnc_italic';
}

/* line 266, ../sass/_base.scss */
.test7:after {
  content: ' - hnc_bold-italic';
}

/* line 273, ../sass/_base.scss */
.test8:after {
  content: ' - hnc_bold';
}

/* line 280, ../sass/_base.scss */
.test9:after {
  content: ' - hnc_light-italic';
}

/* line 287, ../sass/_base.scss */
.test10:after {
  content: ' - hnc_ultra-light-italic';
}

/* line 294, ../sass/_base.scss */
.test11:after {
  content: ' - hnc_ultra-light-0';
}

/* line 301, ../sass/_base.scss */
.test12:after {
  content: ' - hnc_black';
}

/* line 308, ../sass/_base.scss */
.test13:after {
  content: ' - hnc_black-italic';
}

/* line 352, ../sass/_base.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 356, ../sass/_base.scss */
.clearfix {
  *zoom: 1;
  background: none;
}
/* line 38, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 381, ../sass/_base.scss */
a {
  text-decoration: none;
}

/* line 385, ../sass/_base.scss */
img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
}

/* line 391, ../sass/_base.scss */
html {
  height: 100%;
  min-height: 100%;
}

/* line 400, ../sass/_base.scss */
.wrapper {
  width: 100%;
  background: #fff;
}

/* line 441, ../sass/_base.scss */
a {
  color: #2e343e;
}

/* line 445, ../sass/_base.scss */
.inner {
  width: 970px;
  padding: 0 15px;
  margin: auto;
}

/* line 451, ../sass/_base.scss */
.gl-headline {
  font-size: 28px;
  color: #2e343e;
}

/* line 460, ../sass/_base.scss */
.top-block__left, .news-blocks {
  border-bottom: 1px dotted #b6b6b6;
}

/* line 7, ../sass/main.scss */
.fonts-test {
  padding: 10px;
  background: #ddd;
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  z-index: 9999;
  display: none;
}

/* line 18, ../sass/main.scss */
body {
  background: #fff;
  min-height: 100%;
  padding-bottom: 203px;
  position: relative;
}

/* line 25, ../sass/main.scss */
.icon {
  display: inline-block;
  color: #000000;
  fill: currentColor;
  vertical-align: middle;
}
/* line 30, ../sass/main.scss */
.icon_social {
  color: #7d8188;
  width: 20px;
}
/* line 34, ../sass/main.scss */
.icon_pagination {
  width: 25px;
  height: 25px;
  color: #70747a;
}
/* line 39, ../sass/main.scss */
.icon_minus {
  color: #d1d1d1;
}

/* line 44, ../sass/main.scss */
.icon-logo {
  width: 49px;
  height: 41px;
  color: inherit;
}
/* line 49, ../sass/main.scss */
.icon-logo_footer {
  color: #bbbabb;
}

/* line 54, ../sass/main.scss */
.icon-search {
  width: 15px;
  height: 15px;
  color: inherit;
}

/* line 79, ../sass/main.scss */
.main-header {
  margin-bottom: 22px;
}

/* line 83, ../sass/main.scss */
.more-link {
  clear: both;
  *zoom: 1;
}
/* line 38, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.more-link:after {
  content: "";
  display: table;
  clear: both;
}
/* line 86, ../sass/main.scss */
.more-link__link {
  display: inline-block;
  border-bottom: 1px solid #2e343e;
  font-size: 14px;
  color: #2e343e;
  float: right;
}
/* line 92, ../sass/main.scss */
.more-link__link:hover {
  border-bottom-color: transparent;
}

/* line 98, ../sass/main.scss */
.site-logo.site-logo {
  color: #004b7b;
}
/* line 101, ../sass/main.scss */
.site-logo.site-logo:hover {
  color: #006aae;
}

/* line 106, ../sass/main.scss */
.site-logo {
  text-transform: uppercase;
  float: left;
  margin-top: 15px;
}
/* line 111, ../sass/main.scss */
.site-logo__title {
  font-size: 24px;
  letter-spacing: 1px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 3px;
}

/* line 123, ../sass/main.scss */
.search {
  position: relative;
  float: right;
  margin-top: 22px;
}
/* line 127, ../sass/main.scss */
.search__text {
  background: none;
  border: 1px solid;
  width: 100%;
  padding: 3px 30px 3px 10px;
  border: 1px solid #dee1e3;
  border-radius: 4px;
  width: 160px;
  height: 31px;
}
/* line 139, ../sass/main.scss */
.search__submit {
  background: none;
  border: none;
  padding: 0;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 5px;
  top: 2px;
  cursor: pointer;
  color: #b1b1b1;
}
/* line 150, ../sass/main.scss */
.search__submit:active, .search__submit:hover {
  padding: 0;
  margin: 0;
}
/* line 154, ../sass/main.scss */
.search__submit svg {
  width: 15px;
}

/* line 160, ../sass/main.scss */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #949393;
  font-size: 14px;
}

/* line 167, ../sass/main.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #949393;
  font-size: 14px;
  opacity: 1;
}

/* line 175, ../sass/main.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #949393;
  font-size: 14px;
  opacity: 1;
}

/* line 183, ../sass/main.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #949393;
  font-size: 14px;
}

/* the top bar */
/* line 192, ../sass/main.scss */
.top-bar {
  height: 75px;
  overflow: hidden;
  background: url("../images/top-bar-bg.png") 50% 100% repeat #004d7d;
  padding-top: 30px;
  margin-bottom: 17px;
}
/* line 198, ../sass/main.scss */
.top-bar__menu {
  position: relative;
}
/* line 202, ../sass/main.scss */
.top-bar__item {
  float: left;
  margin-left: 10px;
  font-size: 17px;
}
/* line 206, ../sass/main.scss */
.top-bar__item:first-child {
  margin-left: 0;
}
/* line 209, ../sass/main.scss */
.top-bar__item:not(:first-child):before {
  color: #fff;
  content: '/';
  vertical-align: top;
  display: inline-block;
  margin-right: 8px;
  float: left;
}
/* line 219, ../sass/main.scss */
.top-bar__link {
  text-decoration: underline;
  position: relative;
  color: #FFF;
}
/* line 223, ../sass/main.scss */
.top-bar__link:hover, .top-bar__link.is-active {
  text-decoration: none;
}
/* line 227, ../sass/main.scss */
.top-bar__link.is-active::before {
  border-color: transparent transparent #ffffff transparent;
  border-style: solid;
  border-width: 20px;
  content: "";
  left: 50%;
  margin-left: -20px;
  position: absolute;
  top: 65%;
}

/* bottom bar */
/* line 243, ../sass/main.scss */
.bottom-bar {
  margin-bottom: 30px;
}
/* line 248, ../sass/main.scss */
.bottom-bar__item {
  float: left;
  color: #27323c;
  margin-right: 10px;
  font-size: 14px;
  line-height: 1.5;
}
/* line 254, ../sass/main.scss */
.bottom-bar__item:not(:last-child):after {
  content: '|';
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  margin-left: 7px;
}
/* line 262, ../sass/main.scss */
.bottom-bar__link {
  color: inherit;
  text-decoration: underline;
}
/* line 265, ../sass/main.scss */
.bottom-bar__link:hover, .bottom-bar__link.is-active {
  text-decoration: none;
  color: #3b4c5b;
}

/* line 272, ../sass/main.scss */
.page-filter {
  font-size: 14px;
  margin-bottom: 40px;
  list-style-type: none;
}
/* line 277, ../sass/main.scss */
.page-filter__item {
  float: left;
  margin-left: 5px;
}
/* line 280, ../sass/main.scss */
.page-filter__item:before {
  content: '|';
  vertical-align: middle;
  float: left;
  margin-top: 2px;
  margin-right: 5px;
}
/* line 288, ../sass/main.scss */
.page-filter__item:first-child {
  margin-left: 0;
}
/* line 290, ../sass/main.scss */
.page-filter__item:first-child::before {
  display: none;
}
/* line 295, ../sass/main.scss */
.page-filter__item_is-current:before {
  display: none;
}
/* line 298, ../sass/main.scss */
.page-filter__item_is-current + li:before {
  display: none;
}
/* line 301, ../sass/main.scss */
.page-filter__item_is-current .page-filter__link {
  background-color: #3a96cc;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
}
/* line 309, ../sass/main.scss */
.page-filter__link {
  color: #27323c;
  color: #27323c;
  text-decoration: underline;
  padding: 2px 9px;
  vertical-align: middle;
}
/* line 316, ../sass/main.scss */
.page-filter__link:hover {
  text-decoration: none;
}

/* line 323, ../sass/main.scss */
.alphabet-filter {
  padding-bottom: 10px;
  font-size: 27px;
}
/* line 327, ../sass/main.scss */
.alphabet-filter__line {
  *zoom: 1;
  margin-bottom: 6px;
}
/* line 38, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.alphabet-filter__line:after {
  content: "";
  display: table;
  clear: both;
}
/* line 331, ../sass/main.scss */
.alphabet-filter__item {
  float: left;
  width: 33px;
  height: 33px;
  text-align: center;
  margin-right: 1px;
  text-transform: uppercase;
}
/* line 340, ../sass/main.scss */
.alphabet-filter__item_is-current .alphabet-filter__link, .alphabet-filter__item:hover .alphabet-filter__link {
  background: #3a96cc;
  color: #fff;
}
/* line 346, ../sass/main.scss */
.alphabet-filter__link {
  padding: 3px 5px;
  color: #2e343e;
  display: block;
  border-radius: 3px;
}

/* top-block */
/* line 356, ../sass/main.scss */
.top-block {
  margin-bottom: 15px;
}
/* line 358, ../sass/main.scss */
.top-block__left {
  float: left;
  width: 66%;
  padding-bottom: 15px;
}
/* line 364, ../sass/main.scss */
.top-block__header {
  height: 50px;
  overflow: hidden;
  margin-bottom: 20px;
  text-overflow: ellipsis;
}
/* line 369, ../sass/main.scss */
.top-block__header img {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* line 378, ../sass/main.scss */
.top-block__headline {
  vertical-align: middle;
  display: inline-block;
}
/* line 382, ../sass/main.scss */
.top-block__right {
  float: right;
  width: 31%;
}

/* line 389, ../sass/main.scss */
.top-block-articles__list {
  list-style: none;
  counter-reset: articles;
  padding-right: 60px;
}
/* line 394, ../sass/main.scss */
.top-block-articles__item {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 41px;
  margin-bottom: 30px;
  font-size: 20px;
}
/* line 400, ../sass/main.scss */
.top-block-articles__item:last-child {
  margin-bottom: 15px;
}
/* line 403, ../sass/main.scss */
.top-block-articles__item::before {
  counter-increment: articles;
  content: counter(articles) ".";
  float: left;
  width: 70px;
  text-indent: 30px;
  font-size: 24px;
}
/* line 412, ../sass/main.scss */
.top-block-articles__link {
  text-decoration: underline;
  overflow: hidden;
  display: block;
  color: #2e343e;
}
/* line 417, ../sass/main.scss */
.top-block-articles__link:hover {
  text-decoration: none;
}

/* line 423, ../sass/main.scss */
.page-title {
  padding-top: 30px;
  color: #2e343e;
}
/* line 427, ../sass/main.scss */
.page-title_big {
  font-size: 35px;
}
/* line 430, ../sass/main.scss */
.page-title_default {
  font-size: 30px;
  padding-top: 15px;
}

/* line 436, ../sass/main.scss */
.editor {
  color: #94989f;
  font-size: 18px;
  line-height: 1.5;
}
/* line 440, ../sass/main.scss */
.editor h1 {
  margin-bottom: 20px;
  padding-top: 15px;
  color: #2e343e;
  font-size: 30px;
}
/* line 447, ../sass/main.scss */
.editor h2 {
  margin-bottom: 20px;
  padding-top: 10px;
  color: #2e343e;
  font-size: 25px;
}
/* line 455, ../sass/main.scss */
.editor h3 {
  margin-bottom: 15px;
  padding-top: 5px;
  color: #2e343e;
  font-size: 22px;
}
/* line 463, ../sass/main.scss */
.editor h4 {
  margin-bottom: 10px;
  padding-top: 3px;
  color: #2e343e;
  font-size: 20px;
}
/* line 471, ../sass/main.scss */
.editor h5 {
  margin-bottom: 6px;
  padding-top: 3px;
  color: #2e343e;
  font-size: 18;
}
/* line 479, ../sass/main.scss */
.editor h6 {
  margin-bottom: 6px;
  padding-top: 3px;
  color: #2e343e;
  font-size: 16;
}
/* line 487, ../sass/main.scss */
.editor p {
  margin-bottom: 20px;
}
/* line 490, ../sass/main.scss */
.editor br {
  margin-bottom: 15px;
}
/* line 493, ../sass/main.scss */
.editor img {
  max-width: 100%;
  height: auto;
}

/* line 499, ../sass/main.scss */
.article-info {
  color: #c3c3c3;
  font-size: 24px;
  padding: 20px 0;
}

/* line 506, ../sass/main.scss */
.breadcrumbs {
  padding: 15px 0;
}
/* line 508, ../sass/main.scss */
.breadcrumbs__item {
  margin-right: 3px;
  color: #27323c;
  text-decoration: underline;
}
/* line 512, ../sass/main.scss */
.breadcrumbs__item:hover {
  text-decoration: none;
}
/* line 515, ../sass/main.scss */
.breadcrumbs__item_arrow {
  text-decoration: none;
}

/* line 524, ../sass/main.scss */
.info-box {
  height: 117px;
  padding: 18px 0 0 12px;
  display: block;
}
/* line 528, ../sass/main.scss */
.info-box:hover {
  opacity: 0.9;
}
/* line 531, ../sass/main.scss */
.info-box_index:first-child {
  background: #e1e1d8 url("../images/top-box-bg_first.png") center top/cover repeat;
  margin-bottom: 47px;
}
/* line 535, ../sass/main.scss */
.info-box_index:first-child + .info-box {
  background: #dadada url("../images/top-box-bg_second.png") 100px 100px/cover repeat;
}
/* line 538, ../sass/main.scss */
.info-box__headline {
  margin-bottom: 8px;
}
/* line 541, ../sass/main.scss */
.info-box_wide, .info-box_problems {
  background: #e1e1d8 url("../images/top-box-bg_first.png") center top/cover repeat;
  width: 30%;
  float: left;
  margin-left: 3.3333333%;
  margin-bottom: 30px;
}
/* line 548, ../sass/main.scss */
.info-box_problems {
  background: url("../images/top-box-bg_second.png") repeat scroll 100px 100px/cover #dadada;
}

/* line 553, ../sass/main.scss */
.info-boxes {
  padding-top: 25px;
  margin-left: -3.3333333%;
  padding-bottom: 10px;
}

/* line 559, ../sass/main.scss */
.news-blocks {
  padding-top: 22px;
  padding-bottom: 15px;
}
/* line 563, ../sass/main.scss */
.news-blocks__headline {
  margin-bottom: 20px;
}
/* line 566, ../sass/main.scss */
.news-blocks_index {
  float: left;
  width: 66%;
}

/* line 572, ../sass/main.scss */
.center-block {
  margin-bottom: 30px;
}

/* line 586, ../sass/main.scss */
.news-block {
  height: 150px;
  margin-bottom: 20px;
}
/* line 589, ../sass/main.scss */
.news-block:last-child {
  margin-bottom: 10px;
}
/* line 592, ../sass/main.scss */
.news-block__img-link {
  float: left;
  margin-right: 20px;
}
/* line 596, ../sass/main.scss */
.news-block__img {
  width: 203px;
  height: 150px;
}
/* line 600, ../sass/main.scss */
.news-block__headline {
  overflow: hidden;
  font-size: 20px;
  margin-bottom: 14px;
}
/* line 605, ../sass/main.scss */
.news-block__link {
  text-decoration: underline;
}
/* line 607, ../sass/main.scss */
.news-block__link:hover {
  text-decoration: none;
}
/* line 611, ../sass/main.scss */
.news-block__short-description {
  color: #94989f;
  font-size: 15px;
  margin-bottom: 7px;
  line-height: 1.2;
}
/* line 618, ../sass/main.scss */
.news-block__date {
  color: #dadada;
  font-size: 12px;
}

/* line 624, ../sass/main.scss */
.pagination {
  padding: 26px 0;
  font-size: 17px;
  color: #70737a;
  text-align: center;
}
/* line 629, ../sass/main.scss */
.pagination__states {
  display: inline-block;
}
/* line 632, ../sass/main.scss */
.pagination__link {
  margin: 0 40px;
}
/* line 635, ../sass/main.scss */
.pagination.bordered {
  border-top: 1px dotted #b6b6b6;
}

/* line 640, ../sass/main.scss */
.sidebar-block {
  float: right;
  width: 31%;
  padding: 25px 10px 17px 15px;
  background: #ebedef;
}
/* line 645, ../sass/main.scss */
.sidebar-block__headline {
  margin-bottom: 18px;
}
/* line 648, ../sass/main.scss */
.sidebar-block__content {
  *zoom: 1;
}
/* line 38, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.sidebar-block__content:after {
  content: "";
  display: table;
  clear: both;
}

/* line 656, ../sass/main.scss */
.news-list-item {
  height: 80px;
  overflow: hidden;
  margin-bottom: 18px;
  *zoom: 1;
}
/* line 660, ../sass/main.scss */
.news-list-item:last-child {
  margin-bottom: 25px;
}
/* line 38, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.news-list-item:after {
  content: "";
  display: table;
  clear: both;
}
/* line 664, ../sass/main.scss */
.news-list-item__img-link {
  float: left;
  margin-right: 15px;
}
/* line 668, ../sass/main.scss */
.news-list-item__img {
  width: 80px;
  height: 80px;
}
/* line 672, ../sass/main.scss */
.news-list-item__headline {
  overflow: hidden;
  max-height: 56px;
  overflow: hidden;
  font-size: 15px;
  margin-bottom: 15px;
}
/* line 679, ../sass/main.scss */
.news-list-item__link {
  text-decoration: underline;
}
/* line 681, ../sass/main.scss */
.news-list-item__link:hover {
  text-decoration: none;
}
/* line 685, ../sass/main.scss */
.news-list-item_video {
  margin-bottom: 30px;
}
/* line 687, ../sass/main.scss */
.news-list-item_video img {
  width: 115px;
}
/* line 690, ../sass/main.scss */
.news-list-item_video:last-child {
  margin-bottom: 55px;
}
/* line 694, ../sass/main.scss */
.news-list-item_audio {
  height: 100px;
}
/* line 696, ../sass/main.scss */
.news-list-item_audio audio {
  margin-bottom: 6px;
}
/* line 700, ../sass/main.scss */
.news-list-item_books {
  float: left;
  width: 50%;
  height: auto;
}
/* line 704, ../sass/main.scss */
.news-list-item_books .news-list-item__img-link {
  margin: 0;
}
/* line 706, ../sass/main.scss */
.news-list-item_books .news-list-item__img-link:hover {
  opacity: 0.9;
}
/* line 710, ../sass/main.scss */
.news-list-item_books img {
  height: auto;
  width: 100%;
}

/* line 717, ../sass/main.scss */
.news-meta {
  color: #d2d1d1;
  font-size: 12px;
}
/* line 720, ../sass/main.scss */
.news-meta__views {
  float: right;
}
/* line 723, ../sass/main.scss */
.news-meta__views-text {
  vertical-align: middle;
}
/* line 726, ../sass/main.scss */
.news-meta__date {
  float: left;
}
/* line 729, ../sass/main.scss */
.news-meta__icon {
  width: 15px;
  height: 10px;
  color: #c3c4c6;
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
}
/* line 736, ../sass/main.scss */
.news-meta__icon_download {
  color: #999;
  margin-left: 0;
  margin-right: 3px;
  width: 12px;
  height: 12px;
}
/* line 744, ../sass/main.scss */
.news-meta__download {
  color: #d4d4d4;
}
/* line 747, ../sass/main.scss */
.news-meta__download-text {
  vertical-align: middle;
}

/* line 754, ../sass/main.scss */
.bottom-block-wrapper {
  margin-bottom: 45px;
}

/* line 760, ../sass/main.scss */
.bottom-block_left {
  float: left;
  width: 66%;
}
/* line 764, ../sass/main.scss */
.bottom-block_right {
  width: 31%;
  float: right;
}

/* line 770, ../sass/main.scss */
.bottom-block-box {
  width: 50%;
  float: left;
}
/* line 773, ../sass/main.scss */
.bottom-block-box_video {
  padding-right: 20px;
  width: 51%;
}
/* line 777, ../sass/main.scss */
.bottom-block-box_audio {
  width: 49%;
}
/* line 781, ../sass/main.scss */
.bottom-block-box__headline {
  margin-bottom: 20px;
}
/* line 784, ../sass/main.scss */
.bottom-block-box_books {
  width: 100%;
}

/* line 789, ../sass/main.scss */
.footer {
  padding: 55px 0 60px 0;
  background: #f4f5f6;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* line 798, ../sass/main.scss */
.footer-box {
  width: 40%;
  padding-right: 17px;
  float: left;
}
/* line 802, ../sass/main.scss */
.footer-box_reginfo {
  width: 46%;
}
/* line 805, ../sass/main.scss */
.footer-box_logo {
  float: right;
  width: auto;
  float-left: none;
}

/* line 812, ../sass/main.scss */
.copyright {
  color: #7f8c8d;
  font-size: 14px;
  margin-bottom: 20px;
}

/* line 819, ../sass/main.scss */
.footer-links {
  margin-bottom: 22px;
  color: #676b71;
  font-size: 14px;
}
/* line 823, ../sass/main.scss */
.footer-links__link {
  text-decoration: underline;
  color: inherit;
}
/* line 826, ../sass/main.scss */
.footer-links__link:hover {
  text-decoration: none;
}
/* line 830, ../sass/main.scss */
.footer-links__text {
  margin: 0 3px;
}

/* line 836, ../sass/main.scss */
.socials__icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
/* line 841, ../sass/main.scss */
.socials__link:hover {
  opacity: 0.8;
}

/* line 846, ../sass/main.scss */
.reginfo {
  color: #7f8c8d;
  font-size: 11px;
  line-height: 1.6;
}
