@charset "utf-8";

@import "base";

// fonts-test, need to be deleted

.fonts-test {
  padding: 10px;
  background: #ddd;
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  z-index: 9999;
  display: none;
}

body {
  background: #fff;
  min-height: 100%;
  padding-bottom: 203px;
  position: relative;
}

.panel{
  @extend .clearfix;
  padding: 20px 0;
  border-top: 1px solid #eeedee;
  border-bottom: 1px solid #eeedee;
  margin-bottom: 43px;
}




.icon {
  display: inline-block;
  color: #000000;
  fill: currentColor;
  vertical-align: middle;
  &_social {
    color: #7d8188;
    width: 20px;
  }
  &_pagination {
    width: 25px;
    height: 25px;
    color: #70747a;
  }
  &_minus {
    color: #d1d1d1;
  }

  &-tag{
    color: #ccc;
    width: 20px;
    height: 21px;
    margin-right: 7px;
  }
  &-vk, &-ok, &-facebook-empty, &-twitter{
    width: 24px;
    height: 25px;
    color: inherit;
  }
}

.icon-logo {
  width: 49px;
  height: 41px;
  color: inherit;
    // @include transition(0.4s);
    &_footer {
      color: #bbbabb;
    }
  }

  .icon-search {
    width: 15px;
    height: 15px;
    color: inherit;
  }

// #icon-logo .path1 {
//   fill: currentcolor;
// }
// #icon-logo .path2 {
//   fill: currentcolor;
// }
// #icon-logo .path3 {
//   fill: currentcolor;
// }
// #icon-logo .path4 {
//   fill: currentcolor;
// }
// #icon-logo .path5 {
//   fill: currentcolor;
// }
// #icon-logo .path6 {
//   fill: currentcolor;
// }

.main-header {
  margin-bottom: 22px;
}

.more-link {
  clear: both;
  @include pie-clearfix;
  &__link {
    display: inline-block;
    border-bottom: 1px solid #2e343e;
    font-size: 14px;
    color: #2e343e;
    float: right;
    &:hover {
      border-bottom-color: transparent;
    }
  }
}

.site-logo.site-logo {
  color: #004b7b;
    // @include transition(0.5s);
    &:hover {
      color: lighten(#004b7b, 10%);
    }
  }

  .site-logo {
    text-transform: uppercase;
    float: left;
    margin-top: 15px;
    @extend %hnc_medium;
    &__title {
      font-size: 24px;
      letter-spacing: 1px;
      margin-left: 10px;
      display: inline-block;
      vertical-align: middle;
      margin-top: 3px;
    }
  }

// search

.search {
  position: relative;
  float: right;
  margin-top: 22px;
  &__text {
    background: none;
    border: 1px solid;
    width: 100%;
    padding: 3px 30px 3px 10px;
    border: 1px solid #dee1e3;
    border-radius: 4px;
    width: 160px;
    height: 31px;
        // line-height: 31px;

      }
      &__submit {
        background: none;
        border: none;
        padding: 0;
        width: 25px;
        height: 25px;
        position: absolute;
        right: 5px;
        top: 2px;
        cursor: pointer;
        color: #b1b1b1;
        &:active, &:hover {
          padding: 0;
          margin: 0;
        }
        svg {
          width: 15px;
        }
      }
    }

    ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #949393;
    font-size: 14px;
    // text-shadow: 1px 0 1px #e5e5e5;
  }

  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #949393;
    font-size: 14px;
    // text-shadow: 1px 0 1px #e5e5e5;
    opacity: 1;
  }

  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #949393;
    font-size: 14px;
    // text-shadow: 1px 0 1px #e5e5e5;
    opacity: 1;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #949393;
    font-size: 14px;
    // text-shadow: 1px 0 1px #e5e5e5;
  }

/* the top bar */

.top-bar {
  height: 75px;
  overflow: hidden;
  background: url("../images/top-bar-bg.png") 50% 100% repeat #004d7d;
  padding-top: 30px;
  margin-bottom: 17px;
  &__menu {
    position: relative;
    @extend %hnc_roman;
  }
  &__item {
    float: left;
    margin-left: 10px;
    font-size: 17px;
    &:first-child {
      margin-left: 0;
    }
    &:not(:first-child):before {
      color: #fff;
      content: '/';
      vertical-align: top;
      display: inline-block;
      margin-right: 8px;
      float: left;
      @extend %hnc_light;
    }
  }
  &__link {
    text-decoration: underline;
    position: relative;
    color: #FFF;
    &:hover, &.is-active {
      text-decoration: none;
    }
    &.is-active {
      &::before {
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffffff rgba(0, 0, 0, 0);
        border-style: solid;
        border-width: 20px;
        content: "";
        left: 50%;
        margin-left: -20px;
        position: absolute;
        top: 65%;
      }
    }
  }
}

/* bottom bar */

.bottom-bar {
  margin-bottom: 30px;
  &__menu {
    @extend %hnc_roman;
  }
  &__item {
    float: left;
    color: #27323c;
    margin-right: 10px;
    font-size: 14px;
    line-height: 1.5;
    &:not(:last-child):after {
      content: '|';
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      margin-left: 7px;
    }
  }
  &__link {
    color: inherit;
    text-decoration: underline;
    &:hover, &.is-active {
      text-decoration: none;
      color: lighten(#27323c, 10%);
    }
  }
}

.page-filter {
  font-size: 14px;
  margin-bottom: 40px;
  @extend %hnc_light;
  list-style-type: none;
  &__item {
    float: left;
    margin-left: 5px;
    &:before {
      content: '|';
            // margin-left: 15px;
            vertical-align: middle;
            float: left;
            margin-top: 2px;
            margin-right: 5px;
          }
          &:first-child {
            margin-left: 0; 
            &::before {
              display: none;
            }
          }
          &_is-current{
            &:before{
              display: none;
            }   
            & + li:before{
              display: none; 
            }
            .page-filter__link{
              background-color: #3a96cc;
              color: #fff;
              border-radius: 3px;
              text-decoration: none;
            }
          }
        }
        &__link {
          color: #27323c;
          color: #27323c;
          text-decoration: underline;
          padding: 2px 9px;
        // margin-left: 10px;
        vertical-align: middle;
        &:hover{
          text-decoration: none;
        }
      }
    }


    .alphabet-filter{
      padding-bottom: 10px;
      font-size: 27px;
      @extend %hnc_thin;
      &__line{
        @include pie-clearfix;
        margin-bottom: 6px;
      }
      &__item{
        float: left;
        width: 33px;
        height: 33px;
    // line-height: 33px;
    text-align: center;
    margin-right: 1px;
    text-transform: uppercase;
    &_is-current, &:hover{
      .alphabet-filter__link{
        background:#3a96cc;
        color: #fff;
      }
    }
  }
  &__link{
    padding:3px 5px;
    color: #2e343e;
    display: block;
    border-radius: 3px;
  }
}

/* top-block */

.top-block {
  margin-bottom: 15px;
  &__left {
    float: left;
    width: $is-left;
    padding-bottom: 15px;
    @extend %bb;
    &_page{
      @at-root  & .top-block{
        &__header{
          height: auto;
          padding-top: 40px;
          margin-bottom: 30px;
        }
        &-articles__item{
          margin-bottom: 20px;
          height: auto;

        }
      }
      .more-link{
        display: none;
      }
      width: 100%;
      // border-bottom: none; 
     float: none; 
    }
  }
  &__header {
    height: 50px;
    overflow: hidden;
    margin-bottom: 15px;
    text-overflow: ellipsis;
    img {
      display: inline-block;
      margin-right: 15px;
      vertical-align: middle;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  &__headline {
    vertical-align: middle;
    display: inline-block;
  }
  &__right {
    float: right;
    width: $is-right;
  }
}

.top-block-articles {
  &__list {
    list-style: none;
    counter-reset: articles;
    padding-right: 60px;
  }
  &__item {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 46px;
    margin-bottom: 24px;
    font-size: 20px;
    &:last-child {
      margin-bottom: 15px;
    }
    &::before {
      counter-increment: articles;
      content: counter(articles) ".";
      float: left;
      width: 70px;
      text-indent: 30px;
      font-size: 24px;
    }
  }
  &__link {
    text-decoration: underline;
    overflow: hidden;
    display: block;
    color: #2e343e;
    padding-top: 3px;
    &:hover {
      text-decoration: none;
    }
  }
}

.page-title{
  padding-top: 30px;
  color: #2e343e;
  @extend %hnc_roman;
  &_big{
    font-size: 35px; 
  }
  &_default{
    font-size: 30px;
    padding-top: 15px;
  }
}

.article-list{
  padding-top: 20px;
}

.b-article{
  margin-bottom: 25px;
  &__headline{
    margin-bottom: 25px;
  }
  &__more{
    color: #2e343e;
    text-decoration: underline;
    font-size: 18px;
    @extend %hnc_light;
    margin-top: -10px;
    display: inline-block;
    &:hover{
      text-decoration: none;
    }
  }
}

.editor{
  color: #94989f;
  font-size: 18px;
  line-height: 1.5;
  h1{
  @extend %hnc_roman;
    margin-bottom: 20px;
    padding-top: 15px;
    color: #2e343e;
    font-size: 30px;
  }
  h2{
  @extend %hnc_roman;
    margin-bottom: 20px;
    padding-top: 10px;
    color: #2e343e;
    font-size: 25px;
  }
  
  h3{
  @extend %hnc_roman;
    margin-bottom: 15px;
    padding-top: 5px;
    color: #2e343e;
    font-size: 22px;
  }

  h4{
  @extend %hnc_roman;
    margin-bottom: 10px;
    padding-top: 3px;
    color: #2e343e;
    font-size: 20px;
  }

  h5{
  @extend %hnc_roman;
    margin-bottom: 6px;
    padding-top: 3px;
    color: #2e343e;
    font-size: 18;
  }

  h6{
  @extend %hnc_roman;
    margin-bottom: 6px;
    padding-top: 3px;
    color: #2e343e;
    font-size: 16;
  }

  p{
    margin-bottom: 20px;
  }
  br{
    margin-bottom: 15px;
  }
  img{
    max-width: 100%;
    height: auto;
  }
}

.article-info{
  color: #c3c3c3;
  @extend %hnc_roman;
  font-size: 24px;
  padding: 20px 0;
}

.breadcrumbs{
  padding: 15px 0;
  &__item{
    margin-right: 3px;
    color: #27323c;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }    
    &_arrow{
      text-decoration: none;
    }
  }

}

.tags{
  color: #c3c3c3;
  font-size:15px;
  @extend %hnc_roman;
  margin-right: 5px;
  &__item{
    color: inherit;
    vertical-align: middle;
    &:hover{
      // text-decoration: underline;
      color: #444;
    }
  }
  &_bottom{
    float: left;
    padding-top: 10px;
  }
}

.likes{
  float: right;
  text-align: left;
  &__item{
    display: inline-block;
    vertical-align: middle;
    text-align :left;
    width: 100px;
    height: 40px;
    padding: 3px;
    border-radius: 4px;
    margin-left: 5px;
    overflow: hidden;
    // @include transition(all, 0.4s);
    &_vk{
      background:#41658b;
      color: #41658b;
    }
    &_ok{
      background:#f4960f;
      color: #f4960f;
    }

    &_facebook-empty{
      background:#39579a;
      color: #39579a;
    }
    &_twitter{
      background:#00abf0;
      color: #00abf0;
    }
    &:hover{
      opacity: 0.9;
    }

  }
  &__icon-container{
    width: 34px;
    border-radius: 4px;
    height: 34px;
    overflow: hidden;
    background:#fff;
    line-height: 32px; 
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: left;
  }
  &__count{
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 60px;
    padding-top: 8px;
    overflow: hidden;
  }
}

// info-box

.info-box {
  height: 117px;
  padding: 18px 0 0 12px;
  display: block;
  &:hover {
    opacity: 0.9;
  }
  &_index:first-child {
    background: #e1e1d8 url("../images/top-box-bg_first.png") center top / cover repeat;
    margin-bottom: 47px;
  }
  &_index:first-child + & {
    background: #dadada url("../images/top-box-bg_second.png") 100px 100px / cover repeat;
  }
  &__headline {
    margin-bottom: 8px;
  }
  &_wide, &_problems{
    background: #e1e1d8 url("../images/top-box-bg_first.png") center top / cover repeat;
    width: 30%;
    float: left;
    margin-left: 3.3333333%;
    margin-bottom: 30px;
  }
  &_problems{
    background: url("../images/top-box-bg_second.png") repeat scroll 100px 100px / cover  #dadada;
  }
}

.info-boxes{
  padding-top: 25px;
  margin-left: -3.3333333%;
  padding-bottom: 10px;
}

.news-blocks {
  padding-top: 22px;
  padding-bottom: 15px;
  @extend %bb;
  &__headline {
    margin-bottom: 20px;
  }
  &_index {
    float: left;
    width: $is-left;
  }
}

.center-block {
  margin-bottom: 30px;
    // for the same height
    // &__inner{
    //     position: relative;
    //     &::before{
    //       position: absolute;
    //       content: '';
    //       width: 31%;
    //       height: 100%;
    //     }
    // }
  }  
 
  .news-block {
    height: 150px;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 10px;
    }
    &__img-link {
      float: left;
      margin-right: 20px;
      position: relative;
    }
    &__img {
      width: 203px;
      height: 150px;
    }
    &__headline {
      overflow: hidden;
      font-size: 20px;
      margin-bottom: 14px;
    }
    &__link {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    &__short-description {
      color: #94989f;
      font-size: 15px;
      margin-bottom: 7px;
      line-height: 1.2;
      @extend %hnc_thin;
    }
    &__date {
      color: #dadada;
      font-size: 12px;
    }
    @at-root .news-blocks_video &{
      &__cat{
        display: inline-block;
      }
      &__play-icon{
        display: block;
      }
    }
    &__play-icon{
     background: none repeat scroll 0 0 rgba(0, 0, 0, 0.12);
     color: #ffffff;
     font-size: 42px;
     height: 100%;
     left: 0;
     line-height: 156px;
     position: absolute;
     text-align: center;
     text-shadow: 0 1px 3px #444444;
     top: 0;
     width: 100%;
     display: none;
    }
    &__cat{
      display: none;
      font-size: 13px;
      color: #d4d4d4;
      @extend %hnc_light;
      &__link{
      color: #d4d4d4;
      margin-right: 4px;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
      }
    }
  }

  .pagination {
    padding: 26px 0;
    font-size: 17px;
    color: #70737a;
    text-align: center;
    &__states {
      display: inline-block;
    }
    &__link {
      margin: 0 40px;
    }
    &.bordered{
     border-top: 1px dotted #b6b6b6;
   }
   &_itogi{
    @at-root & .pagination{
      &__item{
        color: #70737a;
      }
      &__link{
        margin: 0 20px;
      }
    }
   }
 }

 .sidebar-block {
  float: right;
  width: $is-right;
  padding: 25px 10px 17px 15px;
  background: #ebedef;
  &__headline {
    margin-bottom: 18px;
  }
  &__content {
    @include pie-clearfix;
  }
}

.news-list{
  height: 345px;
}

.news-list-item {
  height: 80px;
  overflow: hidden;
  margin-bottom: 18px;
  &:last-child {
    margin-bottom: 25px;
  }
  @include pie-clearfix;
  &__img-link {
    float: left;
    margin-right: 15px;
  }
  &__img {
    width: 80px;
    height: 80px;
  }
  &__headline {
    overflow: hidden;
    max-height: 56px;
    overflow: hidden;
    font-size: 15px;
    margin-bottom: 6px;
    line-height: 1.2;
  }
  &__link {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  &_video {
    margin-bottom: 30px;
    img {
      width: 115px;
    }
    &:last-child {
      margin-bottom: 55px;
    }
  }
  &_audio {
    height: auto;
    audio {
      margin-bottom: 6px;
    }
  }
  &_books {
    float: left;
    width: 50%;
    height: auto;
    .news-list-item__img-link {
      margin: 0;
      &:hover {
        opacity: 0.9;
      }
    }
    img {
      height: auto;
      width: 100%;
    }
  }
  &_books-page{
    float: left;
    margin-left: 17px;
    margin-bottom: 17px;
    width: 141px;
    height: 245px;
    overflow: hidden;
    @at-root & .news-list-item{
      &__img-link{
        float: none;
        display: block;
        width: 100%;
        margin-bottom: 5px;
        img{
          width: 100%;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
  &_audio-page{
      height: auto;
      margin-bottom: 25px;
      @at-root & .news-list-item{
        &__headline{
          font-size: 20px;
        }
      }
  }
}


.news-list-books{
  padding-top: 30px;
  margin-left:  -18px;
}


.news-meta {
  color: #d2d1d1;
  font-size: 12px;
  &__views {
    float: right;
  }
  &__views-text {
    vertical-align: middle;
  }
  &__date {
    float: left;
  }
  &__icon {
    width: 15px;
    height: 10px;
    color: #c3c4c6;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    &_download {
      color: #999;
      margin-left: 0;
      margin-right: 3px;
      width: 12px;
      height: 12px;
    }
  }
  &__download {
    color: #d4d4d4;
    &_books{
      color: #d4d4d4;
      svg{
        color: #999999;
      }
    }
  }
  &__download-text {
    vertical-align: middle;
  }
  &__download-size{
    display: block;
    padding-left: 19px;
    padding-top: 4px;
  }
}

// bottom-block

.bottom-block-wrapper {
  margin-bottom: 45px;
}

.bottom-block {
    // margin-bottom: 30px;
    &_left {
      float: left;
      width: $is-left;
    }
    &_right {
      width: $is-right;
      float: right;
    }
  }

  .bottom-block-box {
    width: 50%;
    float: left;
    &_video {
      padding-right: 20px;
      width: 51%;
    }
    &_audio {
        // padding-right: 10px;
        width: 49%;
      }
      &__headline {
        margin-bottom: 20px;
      }
      &_books {
        width: 100%;
      }
    }

    .footer {
      padding: 55px 0 60px 0;
      background: #f4f5f6;
      position: absolute;
      bottom:0;
      left: 0;
      width: 100%;
    }

    .footer-box {
      width: 40%;
      padding-right: 17px;
      float: left;
      &_reginfo {
        width: 46%;
      }
      &_logo {
        float: right;
        width: auto;
        float-left: none;
      }
    }

    .copyright {
      color: #7f8c8d;
      font-size: 14px;
      margin-bottom: 20px;
      @extend %hnc_thin;
    }

    .footer-links {
      margin-bottom: 22px;
      color: #676b71;
      font-size: 14px;
      &__link {
        text-decoration: underline;
        color: inherit;
        &:hover {
          text-decoration: none;
        }
      }
      &__text {
        margin: 0 3px;
      }
    }

    .socials {
      &__icon {
        height: 16px;
        width: 16px;
        margin-right: 10px;
      }
      &__link:hover {
        opacity: 0.8;
      }
    }

    .reginfo {
      color: #7f8c8d;
      font-size: 11px;
      line-height: 1.6;
      @extend %hnc_thin;
    // letter-spacing: 1px;
  }