<nav class="alphabet-filter alphabet-filter_{{include.modificator}}">
  <ul class="alphabet-filter__line alphabet-filter__line_rus">
    <!-- if filter item is current, then it gets modificator "_is-current" , else  without additional classes -->
    <li class="alphabet-filter__item alphabet-filter__item_is-current">
      <span  class="alphabet-filter__link">А</span>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">Б</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">В</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">Г</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">Д</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">Ж</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">З</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">И</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">К</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">Л</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">М</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">Н</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">О</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">П</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">Р</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">С</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">Т</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">У</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">Ф</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">Х</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">Ц</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">Ч</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">Ш</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">Щ</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">Э</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">Ю</a>
    </li>
    <li class="alphabet-filter__item">
      <a href="" class="alphabet-filter__link">Я</a>
    </li><!-- /.alphabet-filter__item -->
  </ul>
  <!-- /.alphabet-filter__line alphabet-filter__line_rus -->
  <ul class="alphabet-filter__line alphabet-filter__line_eng">
    <!-- if filter item is current, then it gets modificator "_is-current" , else  without additional classes -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">A</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">B</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">C</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">D</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">E</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">F</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">G</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">H</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">I</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">J</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">K</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">L</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">M</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">N</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">O</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">P</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">Q</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">R</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">S</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">T</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">U</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">V</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">W</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">X</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">Y</a></li>
    <!-- /.alphabet-filter__item -->
    <li class="alphabet-filter__item"><a href="#" class="alphabet-filter__link">Z</a></li>
    <!-- /.alphabet-filter__item -->
  </ul>
  <!-- /.alphabet-filter__line alphabet-filter__line_eng -->
</nav>
<!-- /.alphabet-filter -->
