<div class="editor editor_{{include.modificator}}">

 <p> По мнению букмекеров высока вероятность того, что команды совместными усилиями забьют много голов.  Самые большие шансы на то, что  команды забьют не менее трех голов (1,70 на Тотал 2,5).То что обе команды забьют гол стоит всего лишь 1,62.</p>


<img src="{{site.baseurl}}/content/editor-image.jpg" alt="Название картинки">

<br>

<p>
  Авторами первых голов буки видят Альваро Негредо (4,75) и Эден Азар (10,00). Самый популярный прогнозируемый счет – 2:2.
</p>

<p>
  
  На данный момент «Манчестер Сити» показывает  высочайший уровень результативности в истории премьер-лиги. После 23 игр в активе у  «горожан» 68 голов или 2,96 голов за матч. Если  «Мансити» удержит примерно такой же ритм, то к концу сезона общая результативность достигнет 112 голов. А это намного выше чем рекорд «Челси» в сезоне 2009/10.
</p>

<h2>
  «Горожане» богаты клубом…
</h2>

<p>
  Согласно данным transfermarkt, эти два клуба занимают первые два места во всей Англии по общей стоимости своих игроков. «Манчестер Сити» занимает первое место,  а «Челси» - второе (451 млн. против 386,25 млн). Здесь нужно отметить, что «Челси» отстает по количеству игроков в клубе (23 против 24 у «Мансити), так что можно разницу в 64,75 млн можно смело сократить на треть.
</p>
<img src="{{site.baseurl}}/content/editor-image2.jpg" alt="Название картинки">

<br>

<h2>
  На подходе к рекорду
</h2>

<p>
  На данный момент у «Манчестер Сити» продолжается результативная домашняя серия в премьер-лиге. Не сумев забить гол 13 октября 2010 год на «Этихаде», «горожане» вот уже на протяжении 61 игры не уходят со своего поля без забитого гола.
  </p>
  <p>
Однако это еще не рекорд.  Наилучший результат принадлежит «Манчестер Юнайтед», который в период с 15 декабря 2009 по 22 апреля 2013 забивал в каждой игре лиги. Та серия длилась 66 игр! А серию прервал «Челси», который 5 мая 2013 года одержал сухую гостевую победу со счетом 1:0 (отличился Хуан Мата на 87-й минуте).
</p>

 </div>  
<!-- /.editor editor_article -->