<footer class="footer wrapper">
  <div class="footer__inner inner clearfix">
    <div class="footer-box_info footer-box">
      <div class="copyright" xmlns:dc="http://purl.org/dc/elements/1.1/" property="dc:rights">©
        <span class="copyright__item copyright__item_date" property="dc:dateCopyrighted">2003–2014</span>
        <span class="copyright__item copyright__item_text">Все права защищены</span>
        <span class="copyright__item copyright__item_company" property="dc:publisher">«Власть народа»</span>
      </div>
      <!-- #copyright -->
      <div class="footer-links">
        <a href="" class="footer-links__link">Карта сайта</a>
        <span class="footer-links__text"> и </span>
        <a href="" class="footer-links__link">контактная информация</a>
      </div>
      <!-- /.footer-links -->
      <div class="socials socials_footer">
        <a href="" class="socials__link socials__link_twitter">
          <svg class="icon icon_social socials__icon socials__icon_twitter"><use xlink:href="#icon-twitter"></use></svg>
          <!-- /.socials__icon socials__icon_facebook -->
        </a>
        <a href="" class="socials__link socials__link_facebook">
          <svg class="icon icon_social socials__icon icon_social socials__icon_facebook"><use xlink:href="#icon-facebook"></use></svg>
          <!-- /.socials__icon icon_social socials__icon_facebook -->
        </a>
        <a href="" class="socials__link socials__link_instagram">
          <svg class="icon icon_social socials__icon icon_social socials__icon_instagram"><use xlink:href="#icon-instagram"></use></svg>
          <!-- /.socials__icon icon_social socials__icon_facebook -->
        </a>
      </div>
      <!-- /.socials socials_footer -->
    </div>
    <!-- footer-box -->
    <div class="footer-box footer-box_reginfo">
      <p class="reginfo">Свидетельство о регистрации СМИ Эл № ФС77-49298 выдано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор) 06 апреля 2012 года.</p>
      <!-- /.registrantion -->
    </div>
    <!-- /.footer-box footer-box_reginfo -->
    <div class="footer-box footer-box_logo">
      <a href="/" class="logo footer-box__footer">
        <svg class="icon-logo icon icon-logo_footer"><use xlink:href="#icon-logo"></use> </svg>
        <!-- /.icon-logo icon-logo_footer -->
      </a></div>
    <!-- /.footer-box footer-box_lofo -->
  </div>
  <!-- inner -->
</div>
<!-- /.footer__inenr inner -->
</footer>
<!-- /.footer -->
