    <div class="news-blocks news-blocks_{{include.modificator}}">
      {% unless include.modificator != 'index' %}

      <h1 class="news-blocks__headline gl-headline">Статьи</h1>
      {% endunless %}

      <!-- /.news-blocks__headline -->
      <section class="news-blocks__articles">

        <article class="news-block news-block_index">
          <a href="article.html" class="news-block__img-link">
            <img src="{{site.baseurl}}content/article-block-img_1.jpg" alt="НАТО готовит маштабные учения в Восточной Европе" class="news-block__img">
            <span class="news-block__play-icon">
                 &#9654;
            </span>
          </a>
            <h1 class="news-block__headline">
              <a href="article.html" class="news-block__link">НАТО готовит маштабные учения в Восточной Европе</a>
            </h1>
            <!-- /.news-block__headline -->
            <div class="news-block__editor">
              <p class="news-block__short-description">
                Североатлантический альянс планирует провести крупные военные учения с участием нескольких тысяч военнослужащих в странах Восточной Европы и Балтии.
              </p>            
              <!-- /.news-block__short-description -->
            </div>
            <!-- /.news-block__editor -->

            <div class="news-block__meta">
            <div class="news-block__cat">
              <a href="#" class="news-block__cat__link">Экономика</a>
              <span class="news-block__cat__separator">/</span>
            </div>
            <!-- /.news-blocks__cat -->
              <time class="news-block__date" datetime="25-10-2014 15:25">
                25.10.2014 15:25
              </time>
              <!-- /.news-block__date -->
            </div>
            <!-- /.news-block__meta -->
          </article>
          <!-- /.news-block news-block_index -->

          <article class="news-block news-block_index">
            <a href="article.html" class="news-block__img-link">
              <img src="{{site.baseurl}}content/article-block-img_2.jpg" alt="НАТО готовит маштабные учения в Восточной Европе" class="news-block__img">            <span class="news-block__play-icon">
                 &#9654;
            </span></a>
              <h1 class="news-block__headline">
                <a href="article.html" class="news-block__link">НПрезидент РФ Владимир Путин не планирует контактов с руководством</a>
              </h1>
              <!-- /.news-block__headline -->
              <div class="news-block__editor">
                <p class="news-block__short-description">
                  Президент РФ Владимир Путин не планирует контактов с руководством "ДНР" и "ЛНР". Как передает ZN.UA, об этом сообщил пресс-секретарь Дмитрий Песков
                </p>
                <!-- /.news-block__short-description -->
              </div>
              <!-- /.news-block__editor -->
              <div class="news-block__meta">
              <div class="news-block__cat">
                <a href="#" class="news-block__cat__link">Экономика</a>
                <span class="news-block__cat__separator">/</span>
              </div>
              <!-- /.news-blocks__cat -->
                <time class="news-block__date" datetime="25-10-2014 15:25">
                  25.10.2014 15:25
                </time>
                <!-- /.news-block__date -->
              </div>
              <!-- /.news-block__meta -->
            </article>
            <!-- /.news-block news-block_index -->

            <article class="news-block news-block_index">
              <a href="article.html" class="news-block__img-link">
                <img src="{{site.baseurl}}content/article-block-img_3.jpg" alt="НАТО готовит маштабные учения в Восточной Европе" class="news-block__img">            <span class="news-block__play-icon">
                 &#9654;
            </span></a>
                <h1 class="news-block__headline">
                  <a href="article.html" class="news-block__link">По украинским металлургам ударило снижение мировых цен на сырье</a>
                </h1>
                <!-- /.news-block__headline -->
                <div class="news-block__editor">
                  <p class="news-block__short-description">
                    5 ноября железная руда с 62%-ным содержанием железа с поставкой в китайский порт Циндао подешевела на 2% — до $76,46 за тонну, сообщил Metal Bulletin Ltd. Об этом передают.
                  </p>      
                  <!-- /.news-block__short-description -->
                </div>
                <!-- /.news-block__editor -->

                <div class="news-block__meta">
                <div class="news-block__cat">
                  <a href="#" class="news-block__cat__link">Экономика</a>
                  <span class="news-block__cat__separator">/</span>
                </div>
                <!-- /.news-blocks__cat -->
                  <time class="news-block__date" datetime="25-10-2014 15:25">
                    25.10.2014 15:25
                  </time>
                  <!-- /.news-block__date -->
                </div>
                <!-- /.news-block__meta -->
              </article>
              <!-- /.news-block news-block_index -->

            </section>
            <!-- /.news-blocks__articles -->
            {% unless include.modificator != 'index' %}
            <div class="more-link"><a href="/articles.html" class="more-link__link">Все статьи</a></div>
            {% endunless %}
            <!-- /.more-link -->
          </div>
          <!-- /.news-blocks news-blocks_index -->