<div class="page-filter_wrapper wrapper">
  <div class="inner">
    <ul class="page-filter clearfix">
      <!-- if filter item is current, then it gets modificator "_is-current" , else  without additional classes -->
      <li class="page-filter__item page-filter__item_is-current">
        <span href="#" class="page-filter__link page-filter__link">Все</span>
      </li>
      <li class="page-filter__item">
        <a href="#" class="page-filter__link">Общество</a>
      </li>
      <li class="page-filter__item">
        <a href="#" class="page-filter__link">Власть</a>
      </li>
      <li class="page-filter__item">
        <a href="#" class="page-filter__link">Экономика</a>
      </li>
      <li class="page-filter__item">
        <a href="#" class="page-filter__link">Спорт</a>
        </li> 
      <li class="page-filter__item">
        <a href="#" class="page-filter__link">Культура</a>
      </li>
      <li class="page-filter__item">
        <a href="#" class="page-filter__link">Происшествия</a>
      </li>
      <li class="page-filter__item">
        <a href="#" class="page-filter__link">Россия</a>
      </li>
      <li class="page-filter__item">
        <a href="#" class="page-filter__link">Мир</a>
      </li>
      </ul>
      <!-- /.page-filter -->
    </div>
    <!-- /.inner -->
  </div>
<!-- /.page-filter page-filter_wrapper wrapper -->