<nav class="pagination pagination_{{include.modificator}}">
  <span  class="pagination__link pagination__link_prev pagination__link_not-link">
  <svg class="icon icon_minus icon_pagination">
      <use xlink:href="#icon-minus"></use>
    </svg>
  </span>
  <div class="pagination__states">
    <span class="pagination__state pagination__state_current">1</span>
    <span class="pagination-state__separator">/</span>
    <span class="pagination__state pagination__state_total">5</span>
  </div>
  <!-- /.paginations__states -->
  <a href="" class="pagination__link pagination__link_next">
    <svg class="icon icon_arrow-right icon_pagination">
      <use xlink:href="#icon-arrow-right"></use>
    </svg>
  </a>
</nav>
<!-- /.pagination -->