<div class="panel  {% if include.modificator %}
    panel_{{include.modificator}}
    {% endif %}">
  <section class="tags tags_bottom">
    <svg class="tags__icon icon icon-tag">
      <use xlink:href="#icon-tag"></use>
    </svg>
    <!-- /.tags__icon icon icon-tag -->
    <a href="#" class="tags__item">Далеко-далеко за.,</a>
    <a href="#" class="tags__item">Текст,</a>
    <a href="#" class="tags__item">Текст,</a>
    <a href="#" class="tags__item">Текст,</a>
  </section>
  <!-- /.tags -->
  <secition class="likes likes_bottom">

    <a href="http://vk.com" class="likes__item likes__item_vk">
      <span class="likes__icon-container">
        <svg class="likes__icon icon icon-vk">
        <use xlink:href="#icon-vk"></use>
        </svg>
        <!-- /.likes__icon icon icon-vk -->
      </span>
      <span class="likes__count">10521</span>
    </a>
    
    <a href="http://ok.ru" class="likes__item likes__item_ok">
      <span class="likes__icon-container">
        <svg class="likes__icon icon icon-ok">
        <use xlink:href="#icon-ok"></use>
        </svg>
        <!-- /.likes__icon icon icon-ok -->
      </span>
      <span class="likes__count">23324</span>
    </a>
    
    <a href="http://fb.com" class="likes__item likes__item_facebook-empty">
      <span class="likes__icon-container">
        <svg class="likes__icon icon icon-facebook-empty">
        <use xlink:href="#icon-facebook-empty"></use>
        </svg>
        <!-- /.likes__icon icon icon-facebook-empty -->
      </span>
      <span class="likes__count">7890</span>
    </a>

    <a href="http://twitter.com" class="likes__item likes__item_twitter">
      <span class="likes__icon-container">
        <svg class="likes__icon icon icon-twitter">
        <use xlink:href="#icon-twitter"></use>
        </svg>
        <!-- /.likes__icon icon icon-twitter -->
      </span>
      <span class="likes__count">4189</span>
    </a>

    </secition>
  <!-- /.likes likes_bottom -->
</div>
<!-- /.panel -->