<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <div class="fonts-test">
   Проверка всех шрифтов
   <p class="test1">русский текст</p>
   <p class="test2">русский текст</p>
   <p class="test3">русский текст</p>
   <p class="test4">русский текст</p>
   <p class="test5">русский текст</p>
   <p class="test6">русский текст</p>
   <p class="test7">русский текст</p>
   <p class="test8">русский текст</p>
   <p class="test9">русский текст</p>
   <p class="test10">русский текст</p>
   <p class="test11">русский текст</p>
   <p class="test12">русский текст</p>
   <p class="test13">русский текст</p>
 </div>
 {% include icons.html %}
 {% include header.html %}

 {{content}}



    {% include footer.html %}

  </body>

  </html>
