<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <div class="fonts-test">
   Проверка всех шрифтов
   <p class="test1">русский текст</p>
   <p class="test2">русский текст</p>
   <p class="test3">русский текст</p>
   <p class="test4">русский текст</p>
   <p class="test5">русский текст</p>
   <p class="test6">русский текст</p>
   <p class="test7">русский текст</p>
   <p class="test8">русский текст</p>
   <p class="test9">русский текст</p>
   <p class="test10">русский текст</p>
   <p class="test11">русский текст</p>
   <p class="test12">русский текст</p>
   <p class="test13">русский текст</p>
 </div>
 {% include icons.html %}
 {% include header.html %}

 <div class="top-block top-block_index wrapper"> 
  <div class="inner clearfix">
   <div class="top-block__left">
     <header class="top-block__header">
     <img src="{{site.baseurl}}content/author.png" alt="Сергеем Цыпляевым" class="top-block__image">
       <h2 class="top-block__headline">
         Итоги недели с Сергеем Цыпляевым
       </h2>
       <!-- /.top-block__headline -->
     </header>
     <!-- /.-top-block__header -->
     <section class="top-block-articles">
       <ul class="top-block-articles__list">
         <li class="top-block-articles__item">
          <a href="#" class="top-block-articles__link">Депутаты горсовета нарушали закон и мешали журналистам работать</a>
        </li>
        <!-- /.top-block-articles__item -->
        <li class="top-block-articles__item">
          <a href="#" class="top-block-articles__link">Депутаты Николаевского горсовета взялись решать проблему нехватки программистов  </a>
        </li>
        <!-- /.top-block-articles__item -->
        <li class="top-block-articles__item">
          <a href="#" class="top-block-articles__link">Николаевские депутаты "регионалы" о Налоговом кодексе: мнения разошлись</a>
        </li>
        <!-- /.top-block-articles__item -->
      </ul>
      <div class="more-link more-link_top-block">
        <a href="" class="more-link__link">Все записи</a>
      </div>
      <!-- /.more-link more-link_top-block -->
      <!-- /.top-block-articles__list -->
    </section>
    <!-- /.top-block-articles -->
  </div>
  <!-- /.top-block__left -->
  <div class="top-block__right">

  </div>
  <!-- /.top-block__right -->
</div>
<!-- top-block inner -->
</div>
<!-- /.top-block top-block_index --> 



{% include footer.html %}

</body>

</html>
